<!-- Sidebar Navigation Menu with dropdowns -->

<div class="sidenav">
  <div class="sidenav__component">
    <a href="#">GENDER</a>
      <label class="container">Men
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Unisex
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container">Women
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
  </div>
  <div class="sidenav__component">
     <button class="dropdown-btn">CATEGORIES
       <i class="fa fa-caret-down"></i>
     </button>
    <div class="dropdown-container">
      <a href="#" class="sidebar_category cool-link">Hoodies</a>
      <a href="#" class="sidebar_category cool-link">Jackets</a>
      <a href="#" class="sidebar_category cool-link">Sweaters</a>
      <a href="#" class="sidebar_category cool-link">T-shirts</a>
      <a href="#" class="sidebar_category cool-link">Tops</a>
      <a href="#" class="sidebar_category cool-link">Shirts</a>
    </div>
  </div>
  <div class="sidenav__component">
    <a href="#clients">COLOUR</a>
    <div class="colours__list_flex">
      <div class="colours__list_sidebar">
        <div class="colour-green"></div>
        <div class="colour-blue"></div>
        <div class="colour-yellow"></div>
        <div class="colour-purple"></div>
        <div class="colour-red"></div>
        <div class="colour-pink"></div>
        <div class="colour-orange"></div>
        <div class="colour-white"></div>
        <div class="colour-gray"></div>
        <div class="colour-black"></div>
      </div>
    </div>
  </div>
  <div class="sidenav__component">
    <a href="#contact">PRICE</a>
    <div class="slidecontainer">
      <input type="range" min="1" max="500" value="250" class="slider" id="myRange">
      <p>Value: <span id="demo"></span>&nbsp;€</p>
    </div>
  </div>
</div>

<!--Items List -->

<div class="content__items">
  <div class="browse__items">
    <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
  </div>
</div>
