<!-- Sidebar Navigation Menu with dropdowns -->

<div class="sidenav">
  <div class="sidenav__component">
    <a href="#">GENDER</a>
      <form>
        <input type="checkbox" id="gender1" name="gender1">
        <label for="gender1">men</label><br>
        <input type="checkbox" id="gender2" name="gender2">
        <label for="gender2">unisex</label><br>
        <input type="checkbox" id="gender3" name="gender3">
        <label for="gender3">women</label><br>
    </form>
  </div>
  <a href="#">CATEGORIES</a>
  <a href="#clients">COLOUR</a>
  <a href="#contact">PRICE</a>


  <button class="dropdown-btn">Dropdown
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>


</div>

<!--Items List -->

<div class="content__items">
  <div class="browse__items">
    <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
     <div class="items__card">
      <%= image_tag "hoodie-test.jpeg", class: "item__card_image"  %>
      <p class="item__card_title">Hoodie Test 1</p>
      <p class="item__card_price">200€</p>
    </div>
  </div>
</div>
